{% extends 'base.html' %}

{% block title %}
    {{ data.location }}. {{ data.date }}
{% endblock %}

{% block content %}
    <article>
        <ul>
            <li>
                Место: {{ data.location }}
            </li>
            <li>
                Дата: {{ data.date }}
            </li>
            <li>
                Категория: <a href="{% url 'blog:category_posts' data.category %}">{{ data.category }}</a>
            </li>
        </ul>
        <p>
            {% for line in data.text %}
                {{ line }}
                {% if not forloop.last %}
                    <br>
                {% endif %}
            {% endfor %}
        </p>
    </article>
{% endblock %}